node_modules
.env
# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.vscode/**
.DS_Store

# local build
node_modules
.env
.next
out
dist
deployments
artifacts
cache
typechain
generated
generated/*
.vercel
